$orange: rgba(250, 129, 0, 0.95);

$light: rgb(244, 244, 244);
$dark: rgb(33, 33, 33);
$accent: $orange;

$link: $accent;
$hover: darken($accent, 10%);

:root {
  --colour-link: #{$link};
  --colour-hover: #{$hover};

  --colour-light: #{$light};
  --colour-dark: #{$dark};

  --colour-accent: #{$accent};
}
