@use 'vars';
@use 'colours';

// https://www.youtube.com/watch?v=8QKOaTYvYUA

.logo {
  color: var(--colour-dark);
}

header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  font-size: 3em;
  background: var(--colour-light);
  opacity: 0.95;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  outline: 0 !important;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  text-transform: lowercase;
  background: var(--colour-light);
  opacity: 0.95;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 250ms ease-in-out;

  a {
    opacity: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 500ms;
  }
}

@media screen and (min-width: vars.$breakpoint) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from the video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      display: flex;
    }

    li {
      margin-left: 3em;
      margin-bottom: 0;
    }

    a {
      font-size: 1.2rem;
      opacity: 1;
      position: relative;
    }
  }
}

path.hamburger-menu {
  fill: var(--colour-link);
}
