@use 'vars';
@use 'colours';
@use 'fonts';
@use 'header';
@use 'main';
@use 'footer';

html {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: var(--primary-font);
  margin: 0;

  display: flex;
  flex-direction: column;

  min-height: 100%;
}

footer {
  margin-top: auto; // force it to the bottom
}
