@use 'vars';
@use 'colours';
@use 'fonts';
@use 'header';


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: var(--primary-font);
  font-size: 2em;
}

