@use 'header';

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 214, 170, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 2em;
}
