<footer>
<ul>
{%- for item in footer -%}
<li>
<a href="{{ item.url }}" title="{{ item.name }}" alt="{{ item.name }}" class="footer-link">
{% include "icons/" + item.icon + ".svg" %}
</a>
</li>
{%- endfor -%}
</ul>
</footer>
