<input type="checkbox" id="nav-toggle" class="nav-toggle">
<nav>
<ul>
{%- for item in nav -%}

<li>
<a href="{{ item.url }}" class="fancy-link">{{ item.text }}</a>
</li>

{%- endfor -%}

</ul>
</nav>
  <label for="nav-toggle" class="nav-toggle-label">
    {% include "icons/menu.svg" %}
  </label>
