<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <a href="/" class="logo">
        <h1 >pikesley.org</h1>
      </a>
      {% include "components/nav.njk" %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    {% include "components/footer.njk" %}
  </body>

  <script>
    $(document).ready(function () {
      header_height = $("header").height();
      $("main").css("padding-top", header_height);
    });
  </script>
</html>
