<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>

  <body>
    <header>
    <h1 class="logo">pikesley.org</h1>
    {% include "components/nav.njk" %}
    </header>
  </body>
</html>

